*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color:#004582;
    font-family: sans-serif;
    
    /* Este es un comentario en CSS */
}
/* Barra de arriba */

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
    margin-right: 15px;
    
}

.cards{
    display: flex;
    flex-direction:block;
    
    }
    
    div.fotoproducto{
        display: flex;
        
        
        
    
    }
    
    .navbar{
        background-color: rgb(59, 20, 128) !important;
        min-height: 90px;
    
    }
    
    .nav-item{
        text-align: center;
        justify-content: space-between;
        margin-left: 20px;
    }
    
    .collapse{
    display: flex;
    
    justify-content: center ;
    }
    
    
    
    @media (max-width: 1065px) {
        .cards {
            flex-direction: column; /* Cambiar a disposición vertical */
        }
      }
    
      /* Estilos para dispositivos con ancho de pantalla mayor a 900px */
    @media (min-width: 901px) {
        .cards {
          display: flex; /* Mantener disposición horizontal */
        }
      }


/* Foto del main index */

.container1{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.fotopresentacion{
 width: 100%;
 border-radius: 15px;
box-shadow: 0px 3px 5px rgba(15,15,15 .5);
}
/* Main */

.presentacioninicio {

    line-height: 2;
    word-spacing: 3;
    padding: 25px;
    text-align: center;
    
}

.inicioh2{
    text-align: center;
    justify-content: center;
}
/* barra de abajo del todo/footer */
footer{
    background-color: #213f59;
    padding: 10px;
    
    

}


/* redes */
.iconos{
   display: flex;
   font-size: 20px;
   
   
   
}
ul .iconos{
    text-align: center;
    height: 50px;
    
}


/* Main de Reservanos (fotos) */
.conteinerreservanos{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
}

.fotoreservanos1{
    width: 100%;
    border-radius: 15px;
   box-shadow: 0px 3px 5px rgba(15,15,15 .5);
}



/* texto de Reservanos.html P */
.reservanos{
    line-height: 2;
    word-spacing: 3;
    padding: 25px;
    text-align: center;
}

/* Productos main.html P */
.fotoproducto{

width: 80vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    display: flex;

}

.cardproducto{
  width: 90%;
  margin: 10%;
  padding: 60px 0;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.5em;
  flex-wrap: wrap;

}
.carditem1{
    background-color: aquamarine;
    padding: 2%;
    flex-basis: 280px;
    max-width: 400px;
    flex-grow: 1;
}
.cardcontend{
width: 90%;
margin: 0;
}
.cardpictu{
width: 90%;
margin: 3% auto;
display: flex;

background-color: azure;
position: relative;
bottom: 3em;
}

.cardimg{
width: auto;

}

.fotoproducto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.fotoproducto figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 10px 25px rgb(0,0,0,0.50);
    cursor: pointer;

}
.fotoproducto figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.fotoproducto figure .texto{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 18, 21, 0.619);
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.fotoproducto figure:hover > .texto{
    opacity: 1;
    visibility: visible;

}
.fotoproducto figure:hover > .texto h3{
    margin-top: 70px;
    margin-bottom :15px; ;
}
.fotoproducto figure:hover > .texto h3 {
    color:#fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin: 30px;
}
.fotoproducto figure:hover > .texto p{
color: #fff;
font-size: 15px;
line-height: 1.5;
width: 100%;
max-width: 220px;
margin: auto;
}

